*{
  box-sizing: border-box;
}

body {
  font-family: sans-serif;  
  background: white;
  color: black;
  margin: 0;
  line-height: 1.7;
}

header {
  background: rgba(0,0,0);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px; 
}
header h1 {
  color: white; 
  font-size: 28px; 
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 10px 0 0 0;
}

nav a {
  color: white;
  font-weight: bold;
  transition: 0.3s; 
  text-decoration: none; 
}

nav a:hover {
  color: rgb(31, 229, 13); 
  text-shadow: 0 0 12px white;
}

main {
  padding: 40px 20px;  
  max-width: 1100px;
  margin: auto;
}

.container {
  background: black;
  padding: 40px 30px;
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  transition: 0.3s;
  color: white;
}

.container:hover {
  transform: translateY(-5px);
}

.container h2 {
    color: white;
    font-weight: bolder;
}

.container p {
    color: #fff9c4;
}

.team {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: rgba(0,0,0,0.85);
  padding: 25px;
  border-radius: 12px;
  min-width: 240px;
  max-width: 300px;
  width: 100%;
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  background: #222;
  transform: translateY(-5px);
}

.card h3 {
  color: gold;
  margin-bottom: 10px;
}

.card p {
  color: white;
}
footer {
  background: black;
  text-align: center;
  padding: 40px 20px;
  color: white;
  font-size: 16px;
}
@media (max-width: 900px) {
  header {
    justify-content: center;
    text-align: center;
  }

  nav ul {
    gap: 15px;
  }

  .card {
    min-width: 45%;
  }
}
@media (max-width: 600px) {
  header h1 {
    font-size: 22px;
  }

  nav ul {
    gap: 12px;
    font-size: 14px;
  }

  .card {
    min-width: 100%;
  }

  main {
    padding: 20px;
  }
}
