*{
  box-sizing: border-box;
}
body {
  font-family: sans-serif;  
  background: white;
  color: black;
  margin: 0;
  line-height: 1.7;
}

header h1 {
  color: white; 
  font-size: 28px;
}

header {
  background: rgba(0,0,0);
  padding: 7px 20px;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: #fff;
  font-weight: bold;
  transition: 0.3s; 
  text-decoration: none; 
}

nav a:hover {
  color: rgb(31, 229, 13); 
  text-shadow: 0 0 12px white;
}

main {
  padding: 40px 20px;  
  max-width: 1100px;
  margin: auto;
}

.container {
  background: rgba(0, 0, 0);
  padding: 40px 30px;
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  transition: 0.3s;
  color: white;
}


.container:hover {
  background: rgba(0, 0, 0,);
  transform: translateY(-5px);
}
.container h2 {
    color: white;
    font-weight: bolder;
}
section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-transform: uppercase; 
  letter-spacing: 1px;
}

section p, section ul {
  font-size: 18px;
  max-width: 900px;
  margin: auto;
}

ul.values {
  list-style-type: square;
  padding-left: 20px;
  text-align: left;
  color: #f0f0f0;
}

ul.values li {
  margin-bottom: 10px;
}

.team {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
  color: gold;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 25px;
  border-radius: 15px;
  min-width: 220px;
  transition: 0.3s;
  text-align: center;
}

.card h3 {
  margin-top: 0px; 
}

.card:hover {
  background: rgba(255,255,255,0.2);
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

footer {
  background: rgba(0,0,0);
  text-align: center;
  padding: 40px 20px;
  color: white;
  font-size: 16px;
}
.container p {
    color: #fff9c4;
}
