*{
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  background: white;
  color: black;
}
header {
  background: rgba(0,0,0);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px; 
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
}

nav a {
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}

nav a:hover {
    color: rgb(31, 229, 13);
    text-shadow: 0 0 12px white;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  background-color: black;
  padding: 25px;
  border-radius: 12px;
  min-width: 220px;
  transition: 0.3s;
  margin: 15px;
}

.card:hover {
  transform: translateY(-5px);
}

footer {
  background: rgba(0,0,0);
  color: white;
  text-align: center;
  padding: 40px 20px;
}
.card h3 {
    color: green;
}
.card p {
    color: white;
}
section h2 {
    color: black;
    font-weight: bolder;
}

@media (max-width: 992px) {
  nav ul {
    display: flex;
    gap: 25px;
  }

  header {
    padding: 10px 10px;
  }

  .team {
    display: flex;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 15px;
    gap: 10px;
  }

  nav ul {
    flex-wrap: wrap;
    gap: 20px;
  }

  .card {
    min-width: 250px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 15px 5px;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .team {
    gap: 20px;
  }

  .card {
    min-width: 100%;
    margin: 10px 0;
  }

  section {
    padding: 40px 10px;
  }
}
