body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #26a69a, #00cec9);
  color: #fff;
}
header {
  background: rgba(0,0,0,0.5);
  padding: 7px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
}

nav a {
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
    color: yellow;
    text-shadow: 0 0 12px white;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  min-width: 220px;
  transition: 0.3s;
  margin: 15px;
}

.card:hover {
  transform: translateY(-5px);
}

footer {
  background: rgba(0,0,0,0.4);
  text-align: center;
  padding: 40px 20px;
}
.card h3 {
    color: green;
}
.card p {
    color: black;
}
section h2 {
    color: black;
    font-weight: bolder;
}