*{
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  background: white;
  color: black;
  line-height: 1.7; 
}

header {
  background: rgba(0,0,0);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px; 
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

nav a {
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: rgb(31, 229, 13); 
  text-shadow: 0 0 12px white;
}

section {
  padding: 60px 20px;
  text-align: center;
}

form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, textarea {
  padding: 12px;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  background: #55efc4;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
/* input[type="submit"]:hover {
  background: #00cec9;
} */
header h1 {
  font-size: 28px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}

nav a:hover {
  color: rgb(31, 229, 13);
  text-shadow: 0 0 12px white;
}

main {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.container {
  background: black;
  padding: 35px 25px;
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgb(0, 0, 0);
  transition: 0.3s;
  color: white;
}

.container:hover {
  background: rgb(0, 0, 0); 
  transform: translateY(-5px); 
}

section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section p {
  font-size: 18px;
  margin-bottom: 12px;
}

ul.social {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-top: 15px;
}

ul.social li a {
  color: rgb(8, 74, 154);
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

ul.social li a:hover {
  color: rgb(246, 7, 191);
  text-shadow: 0 0 8px #fff700;
}

footer {
  background: rgba(0,0,0);
  text-align: center;
  padding: 40px 20px;
  font-size: 16px;
  color: white;
}

a{
  color: rgb(8, 74, 154);
} 