
*{
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  background-color: white;

  color: #fff;
}
header h1 {
  color: white;  
  font-size: 28px;
}

header {
  background: rgba(0,0,0);
  padding: 7px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px; 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}

nav a:hover {
  color: rgb(31, 229, 13);
  text-shadow: 0 0 12px white;
}

section {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; 
}

.card {
  background: rgba(255,255,255,0.1);
  border-radius: 12px;
  margin: 20px;
  padding: 25px;
  transition: 0.3s;
  color: green;
  background-color: black;
}
  
.card p {
    color: white;
}
.card:hover {
  transform: translateY(-5px);
  background: rgb(0,0,0);

}

footer {
  background: rgba(0,0,0);
  padding: 40px 20px;
  text-align: center;
  position: sticky;
}
.h h1 {
    color: black;
    font-weight: bolder;
}
.h p{
    color: black;
}