body {
  font-family: 'Verdana', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom right, #00b894, #0984e3);
  color: #fff;
}
header h1 {
  color: white; /* contrast with opaque navbar background */
  font-size: 28px;
}

header {
  background: rgba(0,0,0,0.5);
  padding: 7px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: yellow;
  text-shadow: 0 0 12px white;
}

section {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; 
}

.card {
  background: rgba(255,255,255,0.1);
  border-radius: 12px;
  margin: 20px;
  padding: 25px;
  transition: 0.3s;
  color: green;
  background-color: #fff;
}
.card p {
    color: black;
}
.card:hover {
  transform: translateY(-5px);
  background: rgb(255, 255, 255);
}

footer {
  background: rgba(0,0,0,0.3);
  padding: 40px 20px;
  text-align: center;
  position: sticky;
}
.h h1 {
    color: black;
    font-weight: bolder;
}
.h p{
    color: black;
}