*{
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: white;
  color: black;
}


header {
  background: rgba(0,0,0);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  height: 90px; 
}
header h1 {
  color: white;
  font-size: 28px;
  margin: 0;
}


nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: rgb(31, 229, 13);
  text-shadow: 0 0 12px white;
}

section {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  background-color: black;
  color: green;
  border-radius: 12px;
  padding: 25px;
  min-width: 260px;
  max-width: 300px;
  width: 100%;
  transition: 0.3s;
}

.card p {
  color: white;
}

.card:hover {
  transform: translateY(-5px);
  background: #000;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

footer {
  background: black;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.h h1 {
  color: black;
  font-weight: bold;
}

.h p {
  color: black;
}

@media (max-width: 900px) {
  header {
    justify-content: center;
  }

  nav ul {
    gap: 15px;
  }

  .card {
    min-width: 45%;
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 22px;
  }

  nav ul {
    gap: 10px;
    font-size: 14px;
  }

  .card {
    min-width: 100%;
  }

  section {
    padding: 30px 15px;
  }
} 