*{
  box-sizing: border-box;
}body {
  font-family: sans-serif; 
  margin: 0;
  background: white; 
  color: #fff;
}
header {
  background: black;
  padding: 7px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px; 
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

nav a {
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}

nav a:hover {
    color: rgb(31, 229, 13);
    text-shadow: 0 0 12px white;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  background-color: black;
  padding: 25px;
  border-radius: 12px;
  min-width: 220px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

footer {
  background: black;
  text-align: center;
  padding: 40px 20px;
}
.card h3 {
    color: green;
}
.card p { 
    color: white;
}
h2 {
    color: black;
    font-weight: bolder; 
}
