*{
  box-sizing: border-box;
}

body {
  font-family: sans-serif; 
  margin: 0;
  background: white;
  color: black;
}

header {
  background: rgba(0,0,0);
  padding: 15px 25px;
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px; 
  border-bottom: 3px solid rgb(31, 229, 13);
}

header h1 {
  font-size: 26px;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}

nav a:hover {
  color: rgb(31, 229, 13);
  text-shadow: 0 0 12px white;
}

section {
  padding: 70px 20px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  background-color: black;
  padding: 25px;
  border-radius: 12px;
  width: 260px;
  transition: 0.3s;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: green;
}

.card p {
  color: white;
}

.doc-img {
  opacity: 0;
  width: 100%;
  transition: opacity 0.4s ease;
}

.card.hover-glow {
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.7);
  transform: scale(1.05);
}

.tooltip {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: green;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
}

footer {
  background: black;
  text-align: center;
  padding: 40px 20px;
  color: white;
}

body.dark-mode {
  background: #111;
  color: white;
}

body.dark-mode header {
  background: #000;
}

body.dark-mode nav a {
  color: #fff;
}

body.dark-mode .card {
  background: #000;
}

body.dark-mode h2 {
  color: white;
}

#darkToggle {
  background: white;
  color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#darkToggle:hover {
  background: rgb(31, 229, 13);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding-bottom: 15px;
    gap: 10px;
    text-align: center;
  }

  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  section {
    padding: 50px 15px;
  }

  h2 {
    font-size: 26px;
  }

  .card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 22px;
  }
  
  nav ul {
    gap: 10px;
  }

  nav a {
    font-size: 14px;
  }
}
.dark{
  background-color: black;}
